services:
  searxng:
    container_name: searxng
    image: docker.io/searxng/searxng:latest
    restart: unless-stopped
    networks:
      - searxng
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - ./searxng:/etc/searxng:rw
      - searxng-data:/var/cache/searxng:rw
    env_file:
      - .env
    environment:
      - SEARXNG_BASE_URL=${SEARXNG_BASE_URL:-http://searxng:8080/}
      - UWSGI_WORKERS=${UWSGI_WORKERS:-2}
      - UWSGI_THREADS=${UWSGI_THREADS:-2}

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    command: uvicorn app.main:app --host 0.0.0.0 --port 6789
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
      - SEARXNG_URL=${SEARXNG_URL:-http://searxng:8080/}
    ports:
      - "127.0.0.1:6789:6789"
    volumes:
      - .:/app
      - ./output:/output/generated_files
    depends_on:
      - searxng
    networks:
      - searxng

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend
    command: streamlit run frontend/frontend.py --server.port=8501 --server.address=0.0.0.0
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
    depends_on:
      - app
    ports:
      - "8501:8501"
    volumes: 
      - .:/app
      - ./output:/output/generated_files
    networks:
      - searxng

  valkey:
    container_name: valkey
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    networks:
      - searxng
    volumes:
      - valkey-data2:/data
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

networks:
  searxng:

volumes:
  valkey-data2:
  searxng-data:
